*{
	margin : 0 ;
	padding:0;
}
body{
	background-color:eee;
}
section{
	grid-area: sec ;
	background-color: #eee;
	padding-left:10px;
}
nav{
	width:100%;
	height:100px;
	grid-area: nav ;
	background-color: #434343;
}
footer{
	grid-area: ft ;
	background-color: #434343;
	color : white ;
}
h1{
	font-size:25pt; 
	padding:0 0 0 15px;
}
h2{
	font-size:18pt;
	padding-left:25px;
}
h3{
	font-size:16pt;
	padding-left:50px;
}
p{
	font-size: 14pt ;
	padding:10px 0 10px 100px;
}
#mid{
	text-align: center;
}
#droite{
	text-align:right;
	padding-right:10px;
}
ul{
	background-color:#434343;
}

ul li{
	line-height:100px;
	list-style:none;
	display: inline-block;
}

ul li a {
	display:block;
	text-decoration: none ;
	color : white ;
	font-size : 20pt;
	padding:0 20px;
}

ul li a:hover {
	background-color: black ;
}
 @media screen and (min-width: 1200px){.wrapper{
	display : grid;
	grid-template-columns: 1fr 3fr 1fr ;
	grid-auto-rows: minmax(50px, auto);
	grid-column-gap: 10px;
	grid-template-areas: 
		"nav  nav  nav"
		"sec  sec sec"
		"sec  sec  sec"
		"sec  sec  sec"
		"ft  ft  ft";
 }
}
 @media screen and (max-width: 500px){
	 .wrapper{
		display : grid;
		grid-auto-rows: minmax(50px, auto);
		grid-column-gap: 5px;
		grid-template-areas: 
			"na"
			"sec"
			"ft";
			
		}
 }
.pres{
	display: inline-block ;
}
table{
	width:100%;
}
th{
	font-size:25pt;
}
td{
	font-size:14pt;
}
.presentation{
	display:flex;
	flex-warp:wrap;
	justify-content: space-around;
}